<!DOCTYPE html>
{% include 'link.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
</head>
<body>
<h2 style=color:chocolate;text-decoration:underline;>Features</h2>
<p style=color:brown;line-height:1.5em;text-align:justify;text-indent:50px;>
At FITA Academy, You will Learn from the Experts from industry who are Passionate in sharing their Knowledge with Learners. Get Personally Mentored by the Experts.
<br>
<br>
Get an Opportunity to work in Real-time Projects that will give you a Deep Experience. Showcase your Project Experience & Increase your chance of getting Hired!
<br>
<br>
Get Certified by FITA Academy. Also, get Equipped to Clear Global Certifications. 72% FITA Academy Students appear for Global Certifications and 100% of them Clear it.
<br>
<br>
At FITA Academy, Course Fee is not only Affordable, but you have the option to pay it in Installments. Quality Training at an Affordable Price is our Motto
<br>
<br>
At FITA Academy, you get Ultimate Flexibility. Classroom or Online Training? Early morning or Late evenings? Weekdays or Weekends? Regular Pace or Fast Track? - Pick whatever suits you the Best.
<br>
<br>
Tie-up & MOU with more than 1500+ Small & Medium Companies to Support you with Opportunities to Kick-Start & Step-up your Career.
</p>

</body>
</html>